iframe#wb-frame__popup {
    margin: 0;
    display: block;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    outline: none;
    display: none;
}